@import url("index.css");

.exportModal.modal-body {
  max-height: calc(100vh - 250px)
}

.card .form-group > label {
  text-transform: none;
  font-size: 14px;
}

.form-group .btn-group, .form-group .dropdown-menu {
  width: 100%;
}

.btn.dropdown-toggle {
  text-align: left;
  width: 100%;
}

.form-group .btn .caret {
  float: right;
  margin-top: 10px;
}

.rw-multiselect [role="listbox"] {
  min-height: 0;
  border: none;
}

.progressLine {
  margin-top: 15px;
}

.progressLine li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  text-align: center;
  color: #73D0FE;
  z-index: 1;
}

.progressLine li:before {
  width: 15px;
  height: 15px;
  content: "";
  line-height: 20px;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #73D0FE;
}

.progressLine li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #73D0FE;
  top: 8px;
  left: -46%;
  z-index: -1;
}

.progressLine li:first-child:after {
  content: none;
}

.progressLine li.active {
  color: #5DBCD2;
  font-weight: 800;
}

.progressLine li.active:before {
  background-color: #73D0FE;
}

.progressLine li.active:after {
  background-color: #73D0FE;
}

.progressLine li.active ~ li:after, .progressLine .active ~ li::before {
  background-color: #C9CACA;
}

.progressLine li.active ~ li {
  color: #C9CACA;
}

/*login form*/
.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 470px;
  position: relative;
  padding-top: 100px;
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: #f4f4f4;
}

.login-form {
  min-height: 345px;
  position: relative;
  -webkit-perspective: 1000px;
}

.login-pw .form-group {
    width: 108%;
}

.login-pw .form-group .col-sm-9 {
    width: 100%;
    margin-left: -15px;
}

.login-form button {
  margin-top: 20px;
  width: 100%;
}

.welcome {
  font-weight: 200;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
  padding-bottom: 10px;
}

.subtitle {
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}

.foot-link {
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
}

.foot-link a {
  color: #7D7978;
}

.foot-link a:hover {
  color: #595958;
  font-weight: 800;
}

.err-msg {
  padding: 10px;
  background: linear-gradient(#ffafbd,#ffc3a0);
  opacity: 0.85;
  margin-top: 20px;
  color: #EC2F05;
  font-weight: 600;
}

.success-msg {
  padding: 10px;
  background: linear-gradient(#AEDAFB,#f2fcfe);
  opacity: 0.85;
  margin-top: 20px;
  color: #333;
}
