@import url("index.css");

.exportModal.modal-body {
  max-height: calc(100vh - 250px)
}

.card .form-group > label {
  text-transform: none;
  font-size: 14px;
}

.form-group .btn-group, .form-group .dropdown-menu {
  width: 100%;
}

.btn.dropdown-toggle {
  text-align: left;
  width: 100%;
}

.form-group .btn .caret {
  float: right;
  margin-top: 10px;
}

.rw-multiselect [role="listbox"] {
  min-height: 0;
  border: none;
}

.progressLine {
  margin-top: 15px;
}

.progressLine li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  text-align: center;
  color: #73D0FE;
  z-index: 1;
}

.progressLine li:before {
  width: 15px;
  height: 15px;
  content: "";
  line-height: 20px;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #73D0FE;
}

.progressLine li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #73D0FE;
  top: 8px;
  left: -46%;
  z-index: -1;
}

.progressLine li:first-child:after {
  content: none;
}

.progressLine li.active {
  color: #5DBCD2;
  font-weight: 800;
}

.progressLine li.active:before {
  background-color: #73D0FE;
}

.progressLine li.active:after {
  background-color: #73D0FE;
}

.progressLine li.active ~ li:after, .progressLine .active ~ li::before {
  background-color: #C9CACA;
}

.progressLine li.active ~ li {
  color: #C9CACA;
}

/* for label inputs */
ul.tag-box-pills {
  padding-inline-start: 0;
}

ul.tag-box-pills li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: #5bc0de;
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 85%;
  color: white;
}

ul.tag-box-pills li .tag-box-pill-text {
  margin-left: 0.5rem;
  padding: .2em .6em .3em;
}

ul.tag-box-pills li button {
  padding: 0.25rem 0.75rem;
  display: inline-block;
  line-height: 1.8rem;
  background-color: #5bc0de;
  border: none;
}

.tag-box input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #E3E3E3;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tag-box input::-webkit-input-placeholder {
  color: #999;
  opacity:.6;
}

.tag-box input:focus {
  border: 1px solid #AAAAAA;
}

ul.autocomplete {
  margin-top: 10px;
  padding-inline-start: 0;
  list-style: none;
}

ul.autocomplete .add-new .option-text {
  color: #888888;
}

ul.autocomplete .option-text {
  color: red;
}

/* for Protocol Table */
.prt .h5 {
  margin-bottom: 0;
}

.prts .form-group {
  padding-bottom: 15px;
}

.prts .col-sm-9 {
  width: 100%;
}

.prt-table td {
  padding: 10px!important;
}

.prt-table .form-group {
  width: 80%;
  margin-left: 2px;
}

.prt-table .col-sm-9 {
  padding-left: 0;
  width: 100%;
}
